<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
    document.getElementById("$id_username").classList.add("form-control input-sm");
</script>
<style>
    body {
        background-color: #191919;
    }

    .logo {
        text-align: center;
        width: 200px;
        padding: 10px;
    }
</style>

<div style="margin-top: 100px; background-color: #191919;"
     class="d-flex align-items-center justify-content-center mt-24">
    <div class="d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center">

            <div style="background-color:#191919;"
                 class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4 align-self-center">
                <div style="background-color:#111827;" class="panel panel-default">
                    <img class="logo"
                         src="http://1.bp.blogspot.com/-vMN-nDGDvFg/Ucoylp9O-sI/AAAAAAAAae0/6wQq6KT65zQ/s1600/Ekstraklasa+logo+2013.png"
                         alt="">

                    <div style="color: white; background-color: #111827;" class="panel-heading">
                        <h3 class="panel-title">Resetowanie Hasła <small></small></h3>
                    </div>

                    <div class="panel-body">


                        {% if validlink %}
                            <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                                <div class="card-header justify-content-center">

                                </div>
                                {% if form.errors %}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <div id="form_errors">
                                            {% for key, value in form.errors.items %}
                                                <strong>{{ value }}</strong>
                                            {% endfor %}
                                        </div>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif %}

                                <div class="card-body">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="col-md-10 offset-md-1">
                                                <div class="form-group">
                                                    <label style="color: white;" class="small mb-1" for="id_new_password1">Nowe Hasło</label>
                                                    <input type="password" name="new_password1"
                                                           autocomplete="new-password"
                                                           class="form-control" required id="id_new_password1"
                                                           placeholder="Wpisz Hasło"/>
                                                    <span>
                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-10 offset-md-1">
                                                <div class="form-group">
                                                    <label style="color: white;" class="small mb-1" for="id_new_password2">Potwierdz nowe hasło</label>
                                                    <input type="password" name="new_password2"
                                                           autocomplete="new-password"
                                                           required id="id_new_password2" class="form-control"
                                                           placeholder="Potwierdź Hasło"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-10 offset-md-1">
                                                <div class="form-group mt-0 mb-1">
                                                    <button type="submit" class="btn btn-info btn-block" id="reset">
                                                        Resetuj Hasło
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        {% else %}
                            <div class="alert alert-warning">


                                Link do resetowania hasła był nieprawidłowy, prawdopodobnie dlatego, że został już
                                użyty.
                                Poproś o zresetowanie nowego hasła.


                            </div>
                        {% endif %}


                    </div>
                </div>
            </div>
        </div>
    </div>


</div>